# OS files
Thumbs.db
.DS_Store
Desktop.ini

# Archives
*.zip

# Dependencies
node_modules/
peva/node_modules/

# Environment
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/

# Build
dist/
build/

.vercel
